<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body onload="loading()">
    <div class="container">
      <form action="/save" method="POST">
        <div class="" id="main">
          <div class="dc">
            <input type="text" placeholder="Enter title name" name="select" />
            <select
              class="selection"
              name="combo"
              id="selection"
              onclick="generate(this)"
            >
              <option value="select">Select</option>
              <option value="radio">Radio</option>
              <option value="dropdown">Dropdown</option>
              <option value="checkbox">Checkbox</option>
            </select>
          </div>
          <div id="addbutton">
            <input type="button" value="add" class="1" onclick="add(this)" />
          </div>
          <div id="add" class="add"></div>
        </div>
        <div id="showdata"></div>
        <div class="submit">
          <input type="submit" value="submit" />
        </div>
      </form>
    </div>
    <div id="inner">
      <input type="button" value="+" onclick="myFunction()" />
    </div>
  </body>
  <script>
    let ids = 1;
    function loading() {
      let adds = document.getElementById("add");
      let selection = document.getElementById("selection");
      selection.setAttribute("id", `selection${ids}`);
      adds.setAttribute("id", `add${ids}`);
    }
    function generate(idget) {
      let data;
      let value;
      data = idget.parentNode.parentNode.childNodes[5];
      value = idget.parentNode.parentNode.childNodes[1].childNodes[3].value;
      let classes =
        idget.parentNode.parentNode.childNodes[3].childNodes[1].classList[0];
      let add = document.getElementById(`add${ids}`);
      if (value != "select") {
        data.innerHTML = `<div><input type="${value}" name="${value}" id="${value}" disabled>
          <input type="text" placeholder="Enter option name" name="add[${classes}]"><a onclick="remove(this)">Remove</a></div>`;
      }
    }
    function add(idget) {
      let data;
      let value;
      idget.classList.add(ids);
      data = idget.parentNode.parentNode.childNodes[5];
      value = idget.parentNode.parentNode.childNodes[1].childNodes[3].value;
      let add = document.getElementById(`add${ids}`);
      let classes = idget.classList[0];
      console.log(classes);
      if (value != "select") {
        let html = `<div><input type="${value}" name="${value}" id="${value}" disabled>
        <input type="text" placeholder="Enter option name" name="add[${classes}]"><a onclick="remove(this)">Remove</a></div>`;
        data.insertAdjacentHTML("beforeend", html);
      }
    }
    function remove(current) {
      current.parentNode.innerHTML = "";
    }

    function myFunction() {
      ids++;
      let add = document.getElementById("showdata");
      add.innerHTML += `<div class="" id="main">
          <div class="dc">
            <input type="text" placeholder="Enter title name" name="select" />
            <select
              class="selection"
              name="combo"
              id="selection"
              onclick="generate(this)"
            >
              <option value="select">Select</option>
              <option value="radio">Radio</option>
              <option value="dropdown">Dropdown</option>
              <option value="checkbox">Checkbox</option>
            </select>
          </div>
          <div id="addbutton">
            <input type="button" value="add" class="${ids}" onclick="add(this)" />
          </div>
          <div id="add" class="add"></div>
        </div>`;
      let adds = document.getElementById("add");
      let selection = document.getElementById("selection");

      adds.setAttribute("id", `add${ids}`);
      selection.setAttribute("id", `selection${ids}`);
    }
  </script>
</html>
